<aside id="sidebar" class="col-md-3">
	<section id="widget-member" class="sidebar-widget col-sm-6 col-md-12">
		{% if not connected %}
			{{ _this.Form.create('User', {'action': 'login'}) }}
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					{{ _this.Form.input('username', {'type': 'text', 'placeholder': 'Pseudo', 'class': 'form-control input-sm', 'label': false, 'required': 'required'}) }}
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					{{ _this.Form.input('password', {'type': 'password', 'placeholder': 'Mot de passe', 'class': 'form-control input-sm', 'label': false, 'required': 'required'}) }}
				</div>
				<div class="widget-buttons">
					<button class="btn-u btn-u-xs" type="submit"><i class="fa fa-sign-in"></i> Connexion</button>
          <a href="{{ _this.Html.url({'controller': 'users', 'action': 'signup'}) }}" class="btn-u btn-u-dark btn-u-xs width100" type="submit"><i class="fa fa-user-plus"></i> Inscription</a>
				</div>		   
			{{ _this.Form.end }}
		{% else %}
      <header class="lead">
        <a href="{{ _this.Html.url({'controller': 'users', 'action': 'account', '?': {'tab': 'avatar'}}) }}">
        	{{ _this.Html.image(avatar, {'height': 32, 'width': 32, 'alt': 'Avatar', 'class': 'avatar-rounded', 'style': 'margin-top:-4px;'}) }}
        </a>
        		{{ username }}ChypRiotE
      </header>
      <p>
      	{% if role > 0 %}
        	<i class="fa fa-angle-double-right"></i>
        	<a href="{{ _this.Html.url({'controller': 'pages', 'action': 'stats', 'admin': true}) }}">
        		Accéder à l'administration
        	</a>
        	<br>
        {% endif %}
        {% if use_store == 1 %}
        	<i class="fa fa-angle-double-right"></i>
        	<a href="{{ _this.Html.url({'controller': 'shops', 'action': 'reload'}) }}">
        		Vous avez {{ tokens|number_format(0, ' ', ' ') }} {{ site_money }}
        	</a>
        	<br>
        {% endif %}
        {% if use_economy == 1 %}
        	<i class="fa fa-angle-double-right"></i>
        	<a href="">
        		Vous avez {{ money_in_game|number_format(0, ' ', ' ') }} {{ money_server }}
        	</a>
        	<br>
        {% endif %}
        <i class="fa fa-angle-double-right"></i>
        <a href="{{ _this.Html.url({'controller': 'pages', 'action': 'list_tickets'}) }}">
        	{% if tickets > 1 %}
        		Vous avez {{ tickets }} tickets ouverts
        	{% else %}
        		Vous avez {{ tickets }} ticket ouvert
        	{% endif %}
        </a>
        <br>
        {% if use_store == 1 %}
        <i class="fa fa-angle-double-right"></i>
        <a href="{{ _this.Html.url({'controller': 'users', 'action': 'account'}) }}">
        	Accéder à mon profil
        </a>
        		{% endif %}
      </p>
      <footer class="member-connected">
        <a href="{{ _this.Html.url({'controller': 'users', 'action': 'account'}) }}" class="btn-u btn-brd-hover btn-u-xs" type="submit"><i class="fa fa-user"></i> Mon profil</a>
        {% if use_store %}
          <a href="{{ _this.Html.url({'controller': 'shops', 'action': 'reload'}) }}" class="tooltips btn-u btn-brd-hover btn-u-orange btn-u-xs" type="submit"><i class="fa fa-shopping-cart"></i> Recharger</a>
        {% endif %}
        <a href="{{ _this.Html.url({'controller': 'users', 'action': 'logout'}) }}" class="btn-u btn-brd-hover btn-u-dark btn-u-xs" type="submit"><i class="fa fa-sign-out"></i> Déconnexion</a>
      </footer>
		{% endif %}
	</section>

  <section id="widget-server" class="sidebar-widget col-sm-6 col-md-12">
    {# if api.call('server.bukkit.version')[0]['result'] == 'success' #}
    {% if use_store %}
      <header class="server-on">
        <i class="fa fa-shield"></i> Serveur en ligne
        <span class="text-muted">
          <small>{{ api.call('server.bukkit.version')[0]['success'] }}</small>
        </span>
      </header>
      {% set players = 8 %}
      {% set max_players = 20 %}
      {% set pourcent = players * 100 / max_players %}
      {# set players = count_players #}
      {# set max_players = api.call('players.online.limit')[0]['success'] #}
      {# set pourcent = players * 100 / max_players #}
        <div class="progress progress-u progress-sm">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ players }}" aria-valuemin="0" aria-valuemax="{{ max_players }}" style="width:{{ pourcent }}%">
          </div>
        </div>
        <i class="fa fa-users"></i> Joueurs connectés : {{ players }}/{{ max_players }}
    {% else %}
      <header class="server-off">
        <i class="fa fa-power-off"></i> Serveur hors ligne
        <span class="text-muted">
          <small>{{ api.call('server.bukkit.version')[0]['success'] }}</small>
        </span>
      </header>
    {% endif %}
  </section>


	{% if use_store == 1 and use_donation_ladder == 1 and nb_donator > 0 %}
	<!-- Donation Ladder -->
	<div class="row">
		<div class="col-md-12">
			<div class="tag-box tag-box-v4">
				<div id="testimonials-3" class="carousel slide testimonials testimonials-v1">
					<div class="carousel-inner">
						<div class="item active">
							<div class="testimonial-info">
								{{ _this.Html.image(best_donator['User']['avatar'], {'class': 'rounded-2x'}) }}
								<span class="testimonial-author">
									{{ _this.Html.link(best_donator['User']['username'], {'controller': 'users', 'action': 'profile', 'username': best_donator['User']['username']}) }}
									<br>
									<span class="text-muted">
										<small>Meilleur donateur</small>
									</span>
								</span>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-info">
								{{ _this.Html.image(best_donator['User']['avatar'], {'class': 'rounded-2x'}) }}
								<span class="testimonial-author">
									{{ _this.Html.link(last_donator['User']['username'], {'controller': 'users', 'action': 'profile', 'username': last_donator['User']['username']}) }}
									<br>
									<span class="text-muted">
										<small>Dernier donateur</small>
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Donation Ladder -->
	{% endif %}
	
	{% if widgets is not empty %}
		<!-- Custom Widgets -->
		{% for widget in widgets %}
			<div class="row">
				<div class="col-md-12">
					<div class="tag-box tag-box-v4">
						{{ widget['Widget']['content'] }}
					</div>
				</div>
			</div>
		{% endfor %}	
		<!-- End Custom Widgets -->
	{% endif %}

	{% if buttons is not empty %}
		<!-- Custom Buttons -->
		<div class="row">
			<div class="col-md-12">
				<div class="tag-box tag-box-v4">
					<center>
						{% if customs_buttons_title is not empty %}
							<p style="margin-bottom: -10px;">{{ customs_buttons_title }}<p><br>
						{% endif %}
						{% for button in buttons %}
							<a href="{{ button['Button']['url'] }}" target="_blank" class="btn-u btn-u-{{ button['Button']['color'] }} btn-u-xs" style="margin-bottom: 3px;margin-top: 3px" type="button"><i class="fa fa-{{ button['Button']['icon'] }}"></i> {{ button['Button']['content'] }}</a>
						{% endfor %}
					</center>
				</div>
			</div>
		</div>
		<!-- End Custom Buttons -->
	{% endif %}
</aside>
<!-- End Sidebar -->