{% do _this.assign('title', 'Contact') %}
<main id="contact" class="col-md-9">
	{{ _this.Form.create('Pages', {'action': 'contact', 'class': 'sky-form', 'inputDefaults': {'error': false}}) }}
		<header class="reg-header">  
			<h1>Contactez nous</h1>
		</header>
		<fieldset>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				{{ _this.Form.input('username', {'type': 'text', 'value': username, 'class': 'form-control', 'label': false, 'disabled': 'disabled'}) }}
			</div>
		</fieldset>
		<fieldset>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				{{ _this.Form.input('email', {'type': 'text', 'value': email, 'class': 'form-control', 'label': false, 'disabled': 'disabled'}) }}
			</div>
		</fieldset>
		<fieldset>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-comment"></i></span>
				{{ _this.Form.input('subject', {'type': 'text', 'placeholder': 'Sujet du message', 'class': 'form-control', 'label': false}) }}
			</div>
		</fieldset>
		<fieldset>
				{{ _this.Form.textarea('message', {'type': 'text', 'placeholder': 'Votre message', 'class': 'form-control', 'rows': 5, 'cols': 5, 'required': 'required', 'label': false}) }}
		</fieldset>
		<footer>
			{% if use_captcha == 1 %}
				{{ ayah.getPublisherHTML }}
			{% endif %}
			<input name="captcha" class="btn-u rounded pull-right" type="Submit" value="Envoyer le message">	  
		</footer>
	{{ _this.Form.end }}
</main>
{{ _this.element('sidebar') }}